<div class="container mt-4">
    <div class="d-flex">
        <a href="/me/course" class="mx-4">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                fill="currentColor"
                class="bi bi-chevron-double-left"
                viewBox="0 0 16 16"
            >
                <path
                    fill-rule="evenodd"
                    d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                />
                <path
                    fill-rule="evenodd"
                    d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                />
            </svg>
        </a>
        <h2>Thùng rác</h2>
    </div>
    <table class="table table-success table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Mô tả</th>
                <th scope="col" colspan="2">Ngày thêm</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-row-id="{{this._id}}">
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a
                        style="text-decoration: none"
                        href="/courses/restore/{{this._id}}"
                        class="btn btn-link btn-restore"
                        data-id="{{this._id}}"
                    >
                        Khôi phục
                    </a>
                    <a
                        style="text-decoration: none"
                        href="#"
                        data-id="{{this._id}}"
                        class="btn btn-link btn-delete"
                        data-bs-toggle="modal"
                        data-bs-target="#delete-course"
                    >
                        Xóa vĩnh viễn
                    </a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Thùng rác trống!!!</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="delete-course" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học?</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>
                    Hành động này sẽ không khôi phục lại được. Bạn có chắc muốn
                    xóa khóa học không?
                </p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Hủy
                </button>
                <button
                    id="delete-source-course"
                    type="button"
                    class="btn btn-danger"
                >
                    Xóa khóa học
                </button>
            </div>
        </div>
    </div>
</div>
<form id="restore-form" method="POST"></form>

<script>
    let selectedId = null;
    document.querySelectorAll('.btn-delete').forEach(button => {
        button.addEventListener('click', function () {
            selectedId = this.getAttribute('data-id');
        });
    });

    let restoreId = null;
    document.querySelectorAll('.btn-restore').forEach(btn => {
        btn.addEventListener('click', function (e) {
            e.preventDefault();
            restoreId = this.getAttribute('data-id');
            const restoreForm = document.getElementById('restore-form');
            restoreForm.setAttribute(
                'action',
                `/courses/restore/${restoreId}?_method=PATCH`,
            );
            restoreForm.submit();
        });
    });

    const deleteButton = document.getElementById('delete-source-course');
    deleteButton.addEventListener('click', async () => {
        if (!selectedId) return;
        try {
            await fetch(`/courses/force/${selectedId}`, {
                method: 'DELETE',
            });

            const modalEl = document.getElementById('delete-course');
            const modalInstance = bootstrap.Modal.getInstance(modalEl);
            modalInstance.hide();

            const row = document.querySelector(`[data-row-id="${selectedId}"]`);
            if (row) {
                row.style.transition = 'opacity 0.5s';
                row.style.opacity = '0';
                setTimeout(() => row.remove(), 500);
            }
        } catch (error) {
            console.error(error);
        }
    });
</script>
